.App {
  text-align: center;
  background-color: rgb(34, 139, 141);
}
.header-wrapper .sticky{
  top:0px;
}

.header-wrapper {  
 max-height: 100%;
 transform:translateZ(0) ;
 left:0;
/* position: fixed; */
  border-bottom: none;
  box-shadow: none;
  background-color: #506286;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white; 
  width: 100%;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  /* background: url(Images/Canyon.jpg)no-repeat center center/cover; */
  opacity: 0.7;
  
}
.header-search{
  size: 200px;
}
.search-input {
  width: 75%;
  padding: 7px 24px;
  background-color: transparent;
  /* transition: transform 250ms ease-in-out; */
  font-size: 15px;
  line-height: 15px;
  color: white;
  background-color: transparent;
  background-size: 18px 18px;
  background-position: 70% center;
  /* border: 1px solid white; */
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  border: transparent;
}
.search-input:hover,
.search-input:focus {
  padding: 10px 0;
  outline: 0;
  border: 1px solid transparent;
  border: 1px solid #506286;
  border-radius: 0px;
  background-position: 100% center;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color:white;
  text-align: left;
  /* width: fit-content; */
}
.menu-list{
  text-align: left;
  color: white;

}
.burger-menu{
  padding-left: 5px;

}

.glow-button{
  font-style: inherit;
  border: 2px solid white;
  color: white;
  padding: 5px 20px;
  animation-duration: 3s;
  animation-name: glow;
  animation-iteration-count: infinite;
  border: 2px solid #FFFFFF;
    font: 700 18px/30px;
    /* color: #FFFFFF; */
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* display: inline-block; */
    /* padding: 5px 20px; */
}


.glow-button:hover {
  color: #FFFFFF;
  box-shadow: 0px 0px 15px #ffffff;
}
a:active, a:hover {
  color: #99B3C9;
}
a:active, a:hover {
  outline: 0;
}

h2{
  font-weight: bold;
  font-size: 1em;
  font:700 36px/44px expressway;
  color:white;
}




.login{
  size: 200px;
}
.beach-container{
  /* background: url(Images/Sea.jpg)no-repeat center center/cover; */
  min-height: 1586px;
  color:white;
  padding: 0;
  margin: 0;
  
}
.mountain-container{
  /* background: url(Images/Mountain.jpg)no-repeat center center/cover; */
  min-height: 1586px;

  
}
.city-container{
  /* background: url(Images/City.jpg)no-repeat center center/cover; */
  min-height: 1586px;
}
.culture-container{
  /* background: url(Images/China_Wall.jpg)no-repeat center center/cover; */
  min-height: 1586px;
}
.card-container{

  margin-top: 500px;
}
.main-page{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  
}
.header-title{
  text-align: left;

}